<!--<div class="form-group" style="margin-top: -10px">
  <label class="col-form-label" style="width: 30%;  text-align: left;">Student Name:</label>
  <input type="text" class="box" [(ngModel)]="student.studentName"  style="width: 50%;" name="studentName" required #name="ngModel" required />
  <div style="color: red" *ngIf="name.invalid && (name.dirty || name.touched)" >Student Name is  required</div> 
</div>

<br/>

<div class="form-group" style="margin-top: -10px">
  <label class="col-form-label" style="width: 30%;  text-align: left;">Student Email:</label>
  <input type="text" class="box" [(ngModel)]="student.studentEmail"  style="width: 50%;" name="studentEmail" required #name="ngModel" required />
  <div style="color: red" *ngIf="name.invalid && (name.dirty || name.touched)" >Student Email is  required</div> 
</div>

<br/>

<div class="form-group" style="margin-top: -10px">
  <label class="col-form-label" style="width: 30%; text-align: left;">Mobile Number :</label>
  <input type="text" class="box" [(ngModel)]="student.studentContact"  style="width: 50%;" name="mobileNo" required minlength="10" maxlength="10"  #mname="ngModel" required  />
 <div style="color: red"  *ngIf="mname.errors?.minlength">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mobile No. must be at least 10 digits.
</div>
</div>

<br/>

<div class="form-group" style="margin-top: -10px">
<label class="col-form-label" style="width: 30%; text-align: left;">Gender :</label>
<select [(ngModel)]="student.studentGender" class="box" name="gender" style="width: 50%;">
  <option value="M">Male</option>
  <option value="F">Female</option>
</select>
</div>

<br/>

<div class="form-group" style="margin-top: -10px">
  <label class="col-form-label" style="width: 30%; text-align: left;">Date Of Birth:</label>
  <input type="datetime-local" class="box" [(ngModel)]="student.studentDob" name="doBirth" #mname="ngModel" style="width: 50%;" />
</div>

<br />

<div class="form-group" style="margin-top: -10px">
  <label class="col-form-label" style="width: 150%;  text-align: left;">Department:</label>
<select [(ngModel)]="student.studentDept"  class="box"  name="Department" style="width: 50%;">
  <option *ngFor="let dept of depts" value="{{dept}}">{{dept}}</option>
  </select> 
</div>

<br/>

<div class="form-group" style="margin-top: -10px">
  <label class="col-form-label" style="width: 30%; text-align: left;">Temporary Address :</label>
  <input type="text" class="box" [(ngModel)]="student.studentTempAddress" name="tempaddress" style="width: 50%;" />
  <br style="line-height: 35px">
</div>

<br/>

<div class="form-group" style="margin-top: -10px">
  <label class="col-form-label" style="width: 30%; text-align: left;">Permanent Address :</label>
  <input type="text" class="box" [(ngModel)]="student.studentPermanentAddress" name="permaddress" style="width: 50%;" />
  <br style="line-height: 35px">
</div>

<br/>

<div class="form-group" style="margin-top: -10px">
  <label class="col-form-label" style="width: 30%; text-align: left;">Batch :</label>
  <input type="text"  class="box" [(ngModel)]="student.studentBatch" name="batch" style="width: 50%;" />
  <br style="line-height: 35px">
</div>

<br/>

<div class="form-group" style="margin-top: -10px">
  <label class="col-form-label" style="width: 30%; text-align: left;">SSC Marks:</label>
  <input type="text"  class="box" [(ngModel)]="student.studentSSCMarks" name="ssc" style="width: 50%;" />
  <br style="line-height: 35px">
</div>

<br/>

<div class="form-group" style="margin-top: -10px">
  <label class="col-form-label" style="width: 30%; text-align: left;">Inter Marks:</label>
  <input type="text"  class="box" [(ngModel)]="student.studentInterMarks" name="inter" style="width: 50%;" />
  <br style="line-height: 35px">
</div>

<br/>

<div class="form-group" style="margin-top: -10px">
  <label class="col-form-label" style="width: 30%; text-align: left;">Diploma Marks:</label>
  <input type="text"  class="box" [(ngModel)]="student.studentDiplomaMarks" name="diploma" style="width: 50%;" />
  <br style="line-height: 35px">
</div>

<br/>

<div class="form-group" style="margin-top: -10px">
  <label class="col-form-label" style="width: 30%; text-align: left;">BTech Marks:</label>
  <input type="text"  class="box" [(ngModel)]="student.studentBTechMarks" name="btech" style="width: 50%;" />
  <br style="line-height: 35px">
</div>

<br/>

<input type="button" class="btn btn-info col-sm-3" style="margin-right: 16px" value="Update" (click)="updateStudent()" />-->




